Nội dung thực hành: Các bài lý thuyết 1, 2, 3.

In [3]:
# import các thư viện cần thiết

import pandas as pd
import numpy as np

Câu 1. Tạo series s1 từ list các chữ cái từ a đến f như sau: \['a', 'b', ... , 'f'\]. In s1.

In [4]:
s1 = pd.Series(['a','b','c','d','e','f'])
s1

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

Câu 2. Tạo lại series s1 như trên, nhưng lần này đặt index là chữ cái in hoa tương ứng của các chữ cái. In s1.

In [5]:
s1 = pd.Series(['a','b','c','d','e','f'],['A','B','C','D','E','F'])
s1

A    a
B    b
C    c
D    d
E    e
F    f
dtype: object

Câu 3. Tạo một dictionary với key là \['JP', 'KR', 'PL', 'RU' 'UK', 'US'\] tương ứng với các giá trị \['Japan', 'Korea', 'Poland', 'Russia', 'United Kingdom', 'United States'\].

Từ dictionary này tạo series s2. In s2.

In [6]:
dic ={'JP':'Japan','KR':'KOREA','PL':"POLAND",'RU':"RUSSIA",'UK':"United Kingdom", 'US':'United States'}
s2 = pd.Series(dic)
s2

JP             Japan
KR             KOREA
PL            POLAND
RU            RUSSIA
UK    United Kingdom
US     United States
dtype: object

Câu 4. Truy xuất phần tử thứ 3 của s2.

Truy xuất phần tử có nhãn là 'KR'.

In các kết quả truy xuất.

In [7]:
s2[2]

'POLAND'

In [8]:
s2['KR']

'KOREA'

Câu 5. Lấy phần tử kế cuối của s2.

Gợi ý: iloc có thể nhận giá trị âm, ví dụ iloc\[-1\].

In [9]:
s2[-2]

'United Kingdom'

Câu 6. Dùng hàm datetime để tạo thời điểm 6 giờ 30 phút 17 giây ngày 15 tháng 9 năm 2001. Lưu thời điểm vào biến t1 và in t1.

In [10]:
t1 = pd.Timestamp(2001,9,15,6,30,17)
t1

Timestamp('2001-09-15 06:30:17')

Câu 7. Dùng strftime để in ra tháng đầy đủ của t1, ở đây là September.

In [11]:
t1.strftime('%B,%m')

'September,09'

Câu 8. Dùng hàm date_range của pandas để tạo mảng các ngày cuối cùng của các tháng trong năm 2021. Lưu mảng vào biến d1.

Tham khảo https://pandas.pydata.org/docs/user_guide/timeseries.html#timeseries-offset-aliases để chọn được freq phù hợp.

In [12]:
d1 = pd.date_range('1/2021','1/2022',freq="M")
d1

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='M')

Câu 9. Dùng hàm randint của numpy để tạo một mảng gồm 12 số nguyên có giá trị ngẫu nhiên từ 100 đến 1000 và lưu vào biến rand. Gợi ý: Thực hiện các phép tính +-*/ với biến rand và xem thử kết quả.

Tạo timeseries từ mảng d1 ở câu 8 và mảng số nguyên vừa tạo, lưu vào biến ts1. In ts1.

In [13]:
rand = np.random.randint(100,1000,12)
ts1 = pd.Series(rand,d1)
ts1

2021-01-31    335
2021-02-28    347
2021-03-31    107
2021-04-30    996
2021-05-31    508
2021-06-30    669
2021-07-31    393
2021-08-31    867
2021-09-30    776
2021-10-31    607
2021-11-30    252
2021-12-31    359
Freq: M, dtype: int64

Câu 10. Tìm trung bình, trung vị và độ lệch chuẩn của ts1. In các kết quả.

In [14]:
ts1.mean()

518.0

In [15]:
ts1.median()

450.5

In [16]:
ts1.std()

268.15599259318515

Câu 11. Tạo dictionary với các cặp key-value như sau:
- Month: \[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12\]
- Customers: \[341, 243, 223, 464, 534, 543, 356, 378, 289, 330, 254, 285\]
- Profit: \[3218, 2238, 2038, 4448, 5148, 5238, 3368, 3588, 2698, 3108, 2348, 2658\]

Tạo dataframe từ dictionary này, lưu thành df1. In df1.

In [17]:
dic= {
    'Month': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'Customers': [341, 243, 223, 464, 534, 543, 356, 378, 289, 330, 254, 285],
    'Profit': [3218, 2238, 2038, 4448, 5148, 5238, 3368, 3588, 2698, 3108, 2348, 2658]
}
df1 = pd.DataFrame(dic)
df1

    Month  Customers  Profit
0       1        341    3218
1       2        243    2238
2       3        223    2038
3       4        464    4448
4       5        534    5148
5       6        543    5238
6       7        356    3368
7       8        378    3588
8       9        289    2698
9      10        330    3108
10     11        254    2348
11     12        285    2658

Câu 12. Đổi index của df1 thành các ngày cuối tháng của năm 2021. In df1.

In [18]:
df1.index = d1
df1

            Month  Customers  Profit
2021-01-31      1        341    3218
2021-02-28      2        243    2238
2021-03-31      3        223    2038
2021-04-30      4        464    4448
2021-05-31      5        534    5148
2021-06-30      6        543    5238
2021-07-31      7        356    3368
2021-08-31      8        378    3588
2021-09-30      9        289    2698
2021-10-31     10        330    3108
2021-11-30     11        254    2348
2021-12-31     12        285    2658

Câu 13. Đổi cột Month thành viết tắt của các tháng: 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'.

Dùng hàm .loc của dataframe để truy xuất dòng dữ liệu của tháng 2. In ra dòng này. Gợi ý: Hàm Timestamp của pd.

In [ ]:
df1['Month']= ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']

df1

           Month  Customers  Profit
2021-01-31   Jan        341    3218
2021-02-28   Feb        243    2238
2021-03-31   Mar        223    2038
2021-04-30   Apr        464    4448
2021-05-31   May        534    5148
2021-06-30   Jun        543    5238
2021-07-31   Jul        356    3368
2021-08-31   Aug        378    3588
2021-09-30   Sep        289    2698
2021-10-31   Oct        330    3108
2021-11-30   Nov        254    2348
2021-12-31   Dec        285    2658

In [ ]:
t = pd.Timestamp(2021,2,28)
print(df1.loc[t])

Month         Feb
Customers     243
Profit       2238
Name: 2021-02-28 00:00:00, dtype: object

Câu 14. Lọc ra dữ liệu các tháng có profit đạt nhiều hơn 3000 và lưu vào biến df2. In df2.

Tính số lượng khách hàng trung bình của các dòng dữ liệu này và chuyển về dạng số nguyên. In kết quả. Gợi ý: Mỗi cột của dataframe là một series. Tham khảo https://docs.python.org/3/library/functions.html để tìm hàm làm tròn.

In [ ]:
df2 =  df1[df1.Profit>3000]
df2

           Month  Customers  Profit
2021-01-31   Jan        341    3218
2021-04-30   Apr        464    4448
2021-05-31   May        534    5148
2021-06-30   Jun        543    5238
2021-07-31   Jul        356    3368
2021-08-31   Aug        378    3588
2021-10-31   Oct        330    3108

In [ ]:
a = int(round(df1['Customers'].mean()))
print(a)

353

Câu 15. In dữ liệu các tháng có profit cao hơn trung bình.

In [ ]:
b = int(round(df1['Profit'].mean()))
df3 = df1[df1.Profit > b]
df3

           Month  Customers  Profit
2021-04-30   Apr        464    4448
2021-05-31   May        534    5148
2021-06-30   Jun        543    5238
2021-07-31   Jul        356    3368
2021-08-31   Aug        378    3588