Thực hiện ô dưới đây để tạo ra một `DataFrame` có tên là `df`.

*Thông tin thêm*: đây là dữ liệu thống kê của kỳ Euro 2012. Mỗi dòng là một đôi tham dự. Mỗi cột là một thông tin được ghi nhận lại.

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv')

**Câu 1**: In ra số dòng và số cột của `df`.

In [ ]:
df.shape

(16, 35)

**Câu 2**: In ra tên các cột của `df`.

In [ ]:
df.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

**Câu 3**: In ra kiểu dữ liệu của các cột.

In [ ]:
df.dtypes

Team                           object
Goals                           int64
Shots on target                 int64
Shots off target                int64
Shooting Accuracy              object
% Goals-to-shots               object
Total shots (inc. Blocked)      int64
Hit Woodwork                    int64
Penalty goals                   int64
Penalties not scored            int64
Headed goals                    int64
Passes                          int64
Passes completed                int64
Passing Accuracy               object
Touches                         int64
Crosses                         int64
Dribbles                        int64
Corners Taken                   int64
Tackles                         int64
Clearances                      int64
Interceptions                   int64
Clearances off line           float64
Clean Sheets                    int64
Blocks                          int64
Goals conceded                  int64
Saves made                      int64
Saves-to-shots ratio           object
Fouls Won                       int64
Fouls Conceded                  int64
Offsides                        int64
Yellow Cards                    int64
Red Cards                       int64
Subs on                         int64
Subs off                        int64
Players Used                    int64
dtype: object

**Câu 4**: Lấy ra các cột `Team` (đội) và `Goals` (số bàn thắng) từ `df` và lưu vào biến `goals`.

In [ ]:
goals = df[['Team','Goals']]
goals

                   Team  Goals
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2

**Câu 5**: In ra đội có nhiều bàn thắng nhất, ít bàn thắng nhất (dùng DataFrame `goals` ở câu 4)

*Gợi ý*: dùng `.sort_values()` và `.iloc[]`.

In [ ]:
goals.sort_values('Goals').iloc[-1]

Team     Spain
Goals       12
Name: 13, dtype: object

In [ ]:
goals.sort_values('Goals').iloc[0]

Team     Republic of Ireland
Goals                      1
Name: 11, dtype: object

**Câu 5**: In ra số bàn thắng trung bình.

In [ ]:
goals['Goals'].mean()

4.75

**Câu 6**: Lấy ra các cột `Team`, `Yellow Cards` và `Red Cards` từ `df` và lưu vào biến `cards`.

In [ ]:
cards = df[['Team','Yellow Cards','Red Cards']]
cards

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

**Câu 7**: Đổi tên các cột của `cards` thành `'team'`, `'yellow_cards'` và `'red_cards'`.

In [ ]:
cards.columns = ['team','yellow_cards','read_cards']
cards

                   team  yellow_cards  read_cards
0               Croatia             9           0
1        Czech Republic             7           0
2               Denmark             4           0
3               England             5           0
4                France             6           0
5               Germany             4           0
6                Greece             9           1
7                 Italy            16           0
8           Netherlands             5           0
9                Poland             7           1
10             Portugal            12           0
11  Republic of Ireland             6           1
12               Russia             6           0
13                Spain            11           0
14               Sweden             7           0
15              Ukraine             5           0

**Câu 8**: In ra đội nhận nhiều thẻ vàng nhất.

In [ ]:
cards.sort_values('yellow_cards').iloc[-1]

team            Italy
yellow_cards       16
read_cards          0
Name: 7, dtype: object

**Câu 9**: In ra số lượng thẻ vàng trung bình.

In [ ]:
cards['yellow_cards'].mean()

7.4375

**Câu 10**: In ra các đội bị nhận thẻ đỏ.

In [ ]:
cards.team[cards.read_cards >= 1]

6                  Greece
9                  Poland
11    Republic of Ireland
Name: team, dtype: object

**Câu 11**: In ra các đội có số lượng thẻ vàng nhiều hơn số thẻ vàng trung bình (mà các đội phải nhận).

In [ ]:
cards.team[cards.yellow_cards > cards.yellow_cards.mean()]

0      Croatia
6       Greece
7        Italy
10    Portugal
13       Spain
Name: team, dtype: object

**Câu 12**: Sắp xếp `df` theo `'Shooting Accuracy'` tăng dần.

In [ ]:
df['Shooting Accuracy'].sort_values(ascending= True)

15    21.2%
12    22.5%
8     25.0%
6     30.7%
10    34.3%
11    36.8%
4     37.9%
9     39.4%
1     41.9%
7     43.0%
14    47.2%
5     47.8%
2     50.0%
3     50.0%
0     51.9%
13    55.9%
Name: Shooting Accuracy, dtype: object

**Câu 13**: In ra các đội có bàn thắng được ghi từ chấm phạt đền (thông tin về số bàn thắng ghi từ chấm phạt đền được ghi trong cột `'Penalty goals'`)

In [ ]:
df.Team[df['Penalty goals'] >= 1]

5     Germany
6      Greece
13      Spain
Name: Team, dtype: object

**Câu 14**: Trong số những đội có ít nhất 5 bàn thắng, đội nào có `'Shots on target'` lớn nhất, đội nào có `'Shots off target'` nhỏ nhất.

In [ ]:
df[df.Goals >= 5].Team[df['Shots on target'] == df['Shots on target'].max()]

13    Spain
Name: Team, dtype: object

In [ ]:
mini = df[df.Goals >= 5]
mini.Team[mini['Shots off target'] == mini['Shots off target'].min() ]

3    England
6     Greece
Name: Team, dtype: object