# Giới thiệu

Trong bài thực hành, chúng ta cùng phân tích về thành tích đánh xếp hạng của Faker (một người chơi Liên Minh Huyền Thoại nổi tiếng thế giới) trong khoảng thời gian 10.11.2019 - 18.11.2019.

# Dữ liệu :
Dữ liệu của bạn được thu thập từ trang [op.gg](https://www.op.gg/summoner/userName=Hide+on+bush) và bao gồm các cột sau :
- `champion` : tướng mà Faker đã chơi.
- `status` : kết quả trận đấu (`'Victory'` là chiến thắng, `'Defeat'` là thất bại).
- `date` : ngày chơi.
- `kill` : số lần hạ gục.
- `death` : số lần bị hạ gục.
- `assist` : số lần hỗ trợ hạ gục.
- `cs` : số lính tiêu diệt trong trận.
- `duration` : thời gian trận đấu, được ghi dưới dạng `mm:ss`.

Dữ liệu được lưu trữ trong file [`faker.csv`](https://raw.githubusercontent.com/Levytan/mis_hutech/master/data/faker.csv).

# Bài tập

**Câu 1** : Đọc dữ liệu vào `DataFrame`.

In [ ]:
import pandas as pd
import numpy as np
data = pd.read_csv('https://raw.githubusercontent.com/Levytan/mis_hutech/master/data/faker.csv')
data

    champion   status        date  kill  death  assist   cs duration
0     Irelia   Defeat  2019-11-18     5      5       2  237    25:39
1       Fizz  Victory  2019-11-18     5      3      16  175    23:02
2       Ryze  Victory  2019-11-18     6      3       9  269    27:53
3       Ryze  Victory  2019-11-18     6      2       2  231    22:23
4   Nocturne   Defeat  2019-11-18     4      3       0  152    20:38
..       ...      ...         ...   ...    ...     ...  ...      ...
92    Lucian   Defeat  2019-11-10     3      2       9  342    36:05
93      Ryze   Defeat  2019-11-10     1      4       2  187    21:06
94   Warwick  Victory  2019-11-10     2      2       9  138    28:34
95     Ivern  Victory  2019-11-10     4      6      19  185    41:35
96    Singed  Victory  2019-11-10     3      4      11  180    23:59

[97 rows x 8 columns]

**Câu 2** : Chuyển đổi kiểu dữ liệu cho cột `date`.

In [ ]:
data['date'] = pd.to_datetime(data['date'])
data.dtypes

champion            object
status              object
date        datetime64[ns]
kill                 int64
death                int64
assist               int64
cs                   int64
duration            object
dtype: object

**Câu 3** : Quy đổi dữ liệu của cột `duration` về đơn vị phút (tức là `18:30` sẽ thành `18.5`).

---
_Gợi ý_ : dùng `.str.split(':')` để tách dữ liệu trong cột `duration`, hoặc dùng `.apply()`.

In [ ]:
def spl(x):
  x = x.split(':')
  return round(int(x[0])+int(x[1])/60,2)

data.duration = data.duration.apply(spl)
data

    champion   status       date  kill  death  assist   cs  duration
0     Irelia   Defeat 2019-11-18     5      5       2  237     25.65
1       Fizz  Victory 2019-11-18     5      3      16  175     23.03
2       Ryze  Victory 2019-11-18     6      3       9  269     27.88
3       Ryze  Victory 2019-11-18     6      2       2  231     22.38
4   Nocturne   Defeat 2019-11-18     4      3       0  152     20.63
..       ...      ...        ...   ...    ...     ...  ...       ...
92    Lucian   Defeat 2019-11-10     3      2       9  342     36.08
93      Ryze   Defeat 2019-11-10     1      4       2  187     21.10
94   Warwick  Victory 2019-11-10     2      2       9  138     28.57
95     Ivern  Victory 2019-11-10     4      6      19  185     41.58
96    Singed  Victory 2019-11-10     3      4      11  180     23.98

[97 rows x 8 columns]

**Câu 4** : Tính thời gian trung bình một trận.

In [ ]:
data.duration.mean()

26.05835051546392

**Câu 4** : Trung bình mỗi ngày Faker đã chơi bao nhiêu trận?

In [ ]:
data.date.value_counts().mean()

10.777777777777779

**Câu 5** : Faker đã chơi bao nhiêu vị tướng khác nhau, in ra những tướng đó.

In [ ]:
data.champion.unique()

array(['Irelia', 'Fizz', 'Ryze', 'Nocturne', 'Nautilus', 'Rakan',
       'LeBlanc', 'Akali', 'Neeko', 'Veigar', 'Jayce', 'Qiyana',
       'Twisted Fate', 'Zoe', 'Sion', 'Yasuo', 'Lee Sin', 'Ezreal',
       "Rek'Sai", 'Gangplank', 'Rumble', 'Gragas', 'Renekton', 'Lucian',
       'Kled', 'Viktor', 'Tristana', 'Annie', 'Zed', 'Alistar',
       'Kassadin', 'Kennen', 'Kayle', 'Diana', 'Orianna', 'Ahri', 'Ornn',
       'Azir', 'Warwick', 'Ivern', 'Singed'], dtype=object)

$KDA$ là một chỉ số thường thấy khi phân tích về một tuyển thủ nào đó, $KDA$ được tính như sau.

Gọi $K$ là số lần hạ gục, $D$ là số lần bị hạ gục và $A$ là số lần hỗ trợ hạ gục thì :

$KDA =
\left\{\begin{matrix}
K + A &\text{khi} &D = 0 \\
(K + A)/D &\text{khi} &D > 0
\end{matrix}\right.
$

Trong trường hợp $D = 0$, người ta gọi là `Perfect KDA`.

**Câu 6** : In ra những trận đấu Faker có `Perfect KDA`.

In [ ]:
data[data.death == 0]

        champion   status       date  kill  death  assist   cs  duration
14        Veigar  Victory 2019-11-17     1      0       1  151     15.77
34  Twisted Fate   Defeat 2019-11-15     1      0       6  228     23.22
50        Gragas  Victory 2019-11-13     2      0       8  209     23.58
64         Akali  Victory 2019-11-12     3      0       2  174     16.82
68          Kled  Victory 2019-11-12     1      0       6   73     13.55
86      Nocturne  Victory 2019-11-11     5      0       4  180     20.50

**Câu 7** : Trong những trận không đạt được `Perfect KDA`, in ra 5 trận có $KDA$ cao nhất.

In [ ]:
data['KDA'] = round((data.kill + data.assist) / data.death,2)
data[data.death > 0].sort_values(by = 'KDA').tail(5)

        champion   status       date  kill  ...   cs  duration   KDA  cs_per_min
43      Nocturne  Victory 2019-11-13    10  ...  228     24.38   8.5        9.35
23         Akali  Victory 2019-11-16     9  ...  192     22.67  11.0        8.47
60        Rumble  Victory 2019-11-12     3  ...  200     27.17  11.0        7.36
19  Twisted Fate  Victory 2019-11-16     8  ...  154     20.58  18.0        7.48
36     Gangplank  Victory 2019-11-14     7  ...  199     22.17  18.0        8.98

[5 rows x 10 columns]

**Câu 8** : Tính số lính tiêu diệt trung bình mỗi phút trong một trận đấu và để trong cột `cs_per_min`.

In [ ]:
data['cs_per_min'] = round(data.cs / data.duration,2)
data

    champion   status       date  kill  ...   cs  duration   KDA  cs_per_min
0     Irelia   Defeat 2019-11-18     5  ...  237     25.65  1.40        9.24
1       Fizz  Victory 2019-11-18     5  ...  175     23.03  7.00        7.60
2       Ryze  Victory 2019-11-18     6  ...  269     27.88  5.00        9.65
3       Ryze  Victory 2019-11-18     6  ...  231     22.38  4.00       10.32
4   Nocturne   Defeat 2019-11-18     4  ...  152     20.63  1.33        7.37
..       ...      ...        ...   ...  ...  ...       ...   ...         ...
92    Lucian   Defeat 2019-11-10     3  ...  342     36.08  6.00        9.48
93      Ryze   Defeat 2019-11-10     1  ...  187     21.10  0.75        8.86
94   Warwick  Victory 2019-11-10     2  ...  138     28.57  5.50        4.83
95     Ivern  Victory 2019-11-10     4  ...  185     41.58  3.83        4.45
96    Singed  Victory 2019-11-10     3  ...  180     23.98  3.50        7.51

[97 rows x 10 columns]

**Câu 9** : Tính thời gian thi đấu trung bình của các trận được `Perfect KDA` và các trận **không** được `Perfect KDA`.

In [ ]:
print('Average time of perfect KDA match:',round(data.duration[data.death == 0].mean(),2))
print('Average time of imperfect KDA match:',round(data.duration[data.death > 0].mean(),2))

Average time of perfect KDA match: 18.91
Average time of imperfect KDA match: 26.53

**Câu 10** : Tính tỷ lệ thắng của Faker.

In [ ]:
print(round((len(data.status[data.status == 'Victory']) / len(data.status))*100,2),"%")

46.39 %