*Câu 1*

Đọc file `DigiDB_digimonlist.csv` và lưu vào biến digimons.

In [ ]:
import pandas as pd
import numpy as np
digimons = pd.read_csv('https://raw.githubusercontent.com/vb-ym/MIS_Hutech/master/HK1B_21_22/Week_5/DigiDB_digimonlist.csv',index_col = 'Number')
digimons

                  Digimon Stage     Type  ... Lv50 Def  Lv50 Int  Lv50 Spd
Number                                    ...
1                 Kuramon  Baby     Free  ...       69        68        95
2                 Pabumon  Baby     Free  ...       76        69        68
3                 Punimon  Baby     Free  ...       87        50        75
4                 Botamon  Baby     Free  ...       95        76        61
5                 Poyomon  Baby     Free  ...       59        95        86
...                   ...   ...      ...  ...      ...       ...       ...
245            Valkyrimon  Mega     Free  ...      129       129       168
246       ShineGreymon BM  Mega  Vaccine  ...      104        84       168
247     MirageGaogamon BM  Mega     Data  ...      104       158       174
248            Ravemon BM  Mega  Vaccine  ...      139       144       213
249            Rosemon BM  Mega     Data  ...      139       159       143

[249 rows x 12 columns]

*Câu 2*

a) Có tổng cộng bao nhiêu `Digimon` trong bộ dữ liệu?

b) Có tổng cộng bao nhiêu `Stage`?

In [ ]:
print('Có' ,len(digimons.Digimon), 'Digimons')
print('Có', digimons.Stage.nunique(),  'Stage')

Có 249 Digimons
Có 8 Stage

*Câu 3*

`Digimon` nào có điểm tấn công `Lv50 Atk` cao nhất?

In [ ]:
digimons[digimons['Lv50 Atk'] == digimons['Lv50 Atk'].max()]

         Digimon  Stage     Type  ... Lv50 Def  Lv50 Int  Lv50 Spd
Number                            ...
244     Chaosmon  Ultra  Vaccine  ...       94        89       188

[1 rows x 12 columns]

*Câu 4*

a) Thêm cột mới tên là `AtkDef` là tổng của cột `Lv50 Atk` và `Lv50 Def`. In ra thông tin của Digimon có tổng điểm tấn công `Lv50 Atk` và điểm phòng thủ `Lv50 Def` cao nhất.

b) Xóa cột `AtkDef`.

In [ ]:
digimons['AtkDef'] = digimons['Lv50 Atk'] + digimons['Lv50 Def']
digimons[digimons.AtkDef == digimons.AtkDef.max()]

             Digimon  Stage   Type  ... Lv50 Int  Lv50 Spd  AtkDef
Number                              ...
236     Belphemon RM  Ultra  Virus  ...      109       140     415

[1 rows x 13 columns]

In [ ]:
digimons.drop('AtkDef',axis=1)

                  Digimon Stage     Type  ... Lv50 Def  Lv50 Int  Lv50 Spd
Number                                    ...
1                 Kuramon  Baby     Free  ...       69        68        95
2                 Pabumon  Baby     Free  ...       76        69        68
3                 Punimon  Baby     Free  ...       87        50        75
4                 Botamon  Baby     Free  ...       95        76        61
5                 Poyomon  Baby     Free  ...       59        95        86
...                   ...   ...      ...  ...      ...       ...       ...
245            Valkyrimon  Mega     Free  ...      129       129       168
246       ShineGreymon BM  Mega  Vaccine  ...      104        84       168
247     MirageGaogamon BM  Mega     Data  ...      104       158       174
248            Ravemon BM  Mega  Vaccine  ...      139       144       213
249            Rosemon BM  Mega     Data  ...      139       159       143

[249 rows x 12 columns]

*Câu 5*

Trong số các `Digimon` có Equip Slots là 2, `Digimon` nào có điểm tấn công `Lv50 Atk` thấp nhất?

In [ ]:
k = digimons[digimons['Equip Slots'] == 2]
k[k['Lv50 Atk'] == k['Lv50 Atk'].min()]

            Digimon     Stage   Type  ... Lv50 Int  Lv50 Spd  AtkDef
Number                                ...
80      GoldNumemon  Champion  Virus  ...      143        88     143

[1 rows x 13 columns]

*Câu 6*

a) Các digimon có những loại `Stage` nào?

b) Stage nào là phổ biến nhất? (có nhiều Digimon thuộc về stage đó nhất)

In [ ]:
digimons.Stage.unique()

array(['Baby', 'In-Training', 'Rookie', 'Champion', 'Ultimate', 'Mega',
       'Ultra', 'Armor'], dtype=object)

In [ ]:
digimons.Stage.mode()

0    Mega
dtype: object

*Câu 7*

a) Thống kê số lượng `Digimon` của mỗi loại `Attribute`.

b) Digimon thuộc loại `Attribute` nào có điểm tấn công `Lv50 Atk` trung bình lớn nhất?

In [ ]:
digimons.Attribute.value_counts()

Dark        37
Fire        33
Light       29
Neutral     28
Plant       25
Electric    25
Wind        24
Water       24
Earth       24
Name: Attribute, dtype: int64

In [ ]:
dct = {}
for i in digimons.Attribute.unique():
  dct[i] = round(digimons['Lv50 Atk'][digimons.Attribute == i].mean(),2)

print(dct,'\n')
print('Attribute\'s Largest Average Lv 50 Atk is',max(dct, key=dct.get) + ':',max(dct.values()))

{'Neutral': 126.57, 'Fire': 142.18, 'Plant': 110.08, 'Earth': 129.21, 'Dark': 129.32, 'Light': 111.24, 'Water': 97.96, 'Wind': 135.67, 'Electric': 131.92}

Attribute's Largest Average Lv 50 Atk is Fire: 142.18

*Câu 8*

Thống kê trung bình của lượng máu (cột HP) của các Digimon theo từng `Type` và `Attribute`

In [ ]:
for i in digimons.Attribute.unique():
  for j in digimons.Type.unique():
    print(i,j,":",round(digimons['Lv 50 HP'][(digimons['Attribute'] == i) & (digimons['Type'] == j)].mean(),2))

Neutral Free : 949.09
Neutral Vaccine : 1300.0
Neutral Virus : 1545.0
Neutral Data : 1212.5
Fire Free : 1266.67
Fire Vaccine : 1320.0
Fire Virus : 1270.0
Fire Data : 1275.0
Plant Free : 990.0
Plant Vaccine : 1187.5
Plant Virus : 1381.43
Plant Data : 1160.0
Earth Free : 1165.0
Earth Vaccine : 1467.5
Earth Virus : 1348.89
Earth Data : 1157.14
Dark Free : 1133.33
Dark Vaccine : 1485.0
Dark Virus : 1185.77
Dark Data : 1020.0
Light Free : 1035.0
Light Vaccine : 1158.0
Light Virus : 1305.0
Light Data : 1118.0
Water Free : 1305.0
Water Vaccine : 1335.0
Water Virus : 1222.5
Water Data : 1241.67
Wind Free : 946.0
Wind Vaccine : 1031.0
Wind Virus : 1335.0
Wind Data : 1367.14
Electric Free : nan
Electric Vaccine : 1241.67
Electric Virus : 1265.38
Electric Data : 1110.0

*Câu 9*

Tính hệ số tương quan giữa cột `Memory` và `Equip Slots`

In [ ]:
digimons.Memory.corr(digimons['Equip Slots'])
#digimons.corr().loc['Memory','Equip Slots']

0.35517594512402045

*Câu 10*

In ra ma trận hệ số tương quan giữa `Lv50 Atk`, `Lv50 Def` và `Lv50 Spd`

In [ ]:
digimons[['Lv50 Atk','Lv50 Def','Lv50 Spd']].corr()

          Lv50 Atk  Lv50 Def  Lv50 Spd
Lv50 Atk  1.000000  0.426901  0.522005
Lv50 Def  0.426901  1.000000  0.225921
Lv50 Spd  0.522005  0.225921  1.000000

*Câu 11*

Thống kê số lượng `Digimon` và điểm tấn công trung bình `Lv50 Atk` của các Digimon theo từng `Attribute`

In [ ]:
print("Số lượng Digimons" ,digimons.Digimon.nunique())
dct = {}
for i in digimons.Attribute.unique():
  dct[i] = round(digimons['Lv50 Atk'][digimons.Attribute == i].mean(),2)
print(dct,'\n')

Số lượng Digimons 249
{'Neutral': 126.57, 'Fire': 142.18, 'Plant': 110.08, 'Earth': 129.21, 'Dark': 129.32, 'Light': 111.24, 'Water': 97.96, 'Wind': 135.67, 'Electric': 131.92}

*Câu 12*

In thông tin của các Digimon có tên kết thúc bằng "DM".

Gợi ý: Sử dụng hàm .str.endswith()

In [ ]:
digimons[digimons.Digimon.str.endswith('DM')]

                  Digimon Stage  Type  ... Lv50 Int  Lv50 Spd  AtkDef
Number                                 ...
170     Imperialdramon DM  Mega  Free  ...      139       148     278

[1 rows x 13 columns]