Dữ liệu bài này được lấy từ https://www.kaggle.com/rtatman/animal-bites

Thông tin các cột:
- bite_date: Ngày nạn nhân bị cắn
- SpeciesIDDesc: Loài của con vật gây vết cắn (ví dụ chó, mèo, ...)
- BreedIDDesc: Giống nếu có (ví dụ giống PIT BULL của loài chó)
- GenderIDDesc: Giới tính của con vật
- color: Màu sắc con vật
- vaccination_yrs: Số năm kể từ lần cuối con vật được tiêm ngừa
- vaccination_date: Lần cuối con vật được tiêm ngừa
- victim_zip: Mã zipcode của nạn nhân
- AdvIssuedYNDesc: Nạn nhân có nhận được lời khuyên từ bác sĩ
- WhereBittenIDDesc: Vị trí bị cắn
- quarantine_date: Ngày con vật bị nhốt lại nếu có
- DispositionIDDesc: Hành động của nhà chức trách với con vật
- head_sent_date: Ngày con vật được đưa đến phòng nghiên cứu để kiểm tra bệnh dại nếu có
- release_date: Ngày con vật được thả ra nếu có
- ResultsIDDesc: Kết quả kiểm tra bệnh dại nếu có

*Câu 1*

a) Đọc file Health_animalBites.csv và lưu vào biến `bites`.

b) Thực hiện các chuyển đổi dữ liệu cần thiết. Để xử lý lỗi, tìm hiểu tham số errors. Đặt lại tham số errors thành chuỗi ký tự thích hợp để chuyển các giá trị lỗi về NaT. https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html

In [ ]:
# Import libraries
import pandas as pd
import numpy as np

In [ ]:
bites = pd.read_csv('https://raw.githubusercontent.com/vb-ym/MIS_Hutech/master/HK1B_21_22/Week_6/Health_AnimalBites.csv')
bites

                bite_date SpeciesIDDesc  ... release_date ResultsIDDesc
0     1985-05-05 00:00:00           DOG  ...          NaN       UNKNOWN
1     1986-02-12 00:00:00           DOG  ...          NaN       UNKNOWN
2     1987-05-07 00:00:00           DOG  ...          NaN       UNKNOWN
3     1988-10-02 00:00:00           DOG  ...          NaN       UNKNOWN
4     1989-08-29 00:00:00           DOG  ...          NaN       UNKNOWN
...                   ...           ...  ...          ...           ...
8998  2017-09-05 00:00:00           DOG  ...          NaN           NaN
8999  2017-09-07 00:00:00           DOG  ...          NaN           NaN
9000  2017-09-07 00:00:00           DOG  ...          NaN           NaN
9001  2017-09-07 00:00:00           DOG  ...          NaN           NaN
9002  2017-09-07 00:00:00           DOG  ...          NaN           NaN

[9003 rows x 15 columns]

In [ ]:
bites = bites.assign(bite_date = pd.to_datetime(data['bite_date'],errors = 'coerce'))
bites = bites.assign(vaccination_date = pd.to_datetime(data['vaccination_date'],errors = 'coerce'))
bites = bites.assign(quarantine_date = pd.to_datetime(data['quarantine_date'],errors = 'coerce'))
bites = bites.assign(head_sent_date = pd.to_datetime(data['head_sent_date'],errors = 'coerce'))
bites = bites.assign(release_date = pd.to_datetime(data['release_date'],errors = 'coerce'))
bites.dtypes

bite_date            datetime64[ns]
SpeciesIDDesc                object
BreedIDDesc                  object
GenderIDDesc                 object
color                        object
vaccination_yrs             float64
vaccination_date     datetime64[ns]
victim_zip                   object
AdvIssuedYNDesc              object
WhereBittenIDDesc            object
quarantine_date      datetime64[ns]
DispositionIDDesc            object
head_sent_date       datetime64[ns]
release_date         datetime64[ns]
ResultsIDDesc                object
dtype: object

*Câu 2*

a) Lọc ra các dòng từ DataFrame `bites` không có giá trị NaN ở các cột SpeciesIDDesc và BreedIDDesc và lưu vào biến mới là `species`.

b) Trong DataFrame `species` có những loài nào? Mỗi loài có bao nhiêu giống?

In [ ]:
species = bites[pd.notna(bites.SpeciesIDDesc) & pd.notna(bites.BreedIDDesc)]
species

In [ ]:
print(species.SpeciesIDDesc.unique(),'\n')
a = 0
w = species['SpeciesIDDesc'] + " " + species['BreedIDDesc']
w.unique()

['DOG' 'CAT']

array(['DOG GERM SHEPHERD', 'DOG DACHSHUND', 'DOG PIT BULL',
       'DOG SHIH TZU', 'DOG COCKER SPAINEL', 'DOG CHICHAUHUA',
       'DOG BEAGLE', 'DOG CHOW CHOW', 'DOG OTHER', 'DOG BOXER',
       'DOG AAUST. TERR.', 'DOG GOLD RETRIEVER', 'DOG LABRADOR RETRIV',
       'DOG BULLMASTIFF', 'DOG BORDER COLLIE', 'DOG POMERANIAN',
       'DOG YORKSHIRE TERRIER', 'DOG GREYHOUND', 'DOG ROTTWEILER',
       'DOG AMER. BULL DOG', 'DOG DALMATIAN', 'DOG HUSKY', 'DOG BULL DOG',
       'DOG MASTIF', 'DOG GREAT PYRENEESE', 'DOG GREAT DANE',
       'DOG POODLE', 'DOG SIBERAN HUSKY', 'DOG WEIMARANER', 'DOG CORGI',
       'DOG BOSTON TERRIER', 'DOG SCHNAUZER', 'DOG BASSET HOUND',
       'DOG MIN PIN', 'DOG WELSH CORGI', 'DOG AM BULLDOG', 'DOG SAMOYED',
       'DOG MALTASE', 'DOG AKITA', 'DOG SHELTIE', 'DOG LHASA APSO',
       'DOG SAINT BERNARD', 'DOG AIREDALE TER.', 'DOG AM. ESKIMO',
       'DOG BICHON FRISE', 'DOG PUG', 'DOG DOBERMAN', 'DOG DOTSON',
       'DOG NEW FOUNDLAND', 'DOG BERNESEN MT.', 'DOG HAVANESE',
       'DOG ENGLISH SETTER', 'DOG SHAR-PEI', 'DOG COCKAPOO',
       'DOG OLD ENG SHP DOG', 'DOG WESTIE', 'DOG BOUVIER',
       'DOG RAT TERRIER', 'DOG SHEEP DOG', 'DOG HEELER', 'DOG PEKINGESE',
       'DOG FOX TERRIER MIX', 'DOG ENGLISH BULLDOG',
       'DOG BORDER COLLIE M', 'DOG BASANJI', 'DOG PYRENES',
       'DOG BLOOD HOUND', 'DOG COLLIE', 'DOG ALASK. MALAMUTE',
       'DOG BRITNEY SPANIEL', 'DOG BICHON FRESE', 'DOG FOX TERRIER',
       'DOG BLUE HEELER', 'DOG CATAHOULA', 'DOG CANE CORSO',
       'DOG IRISH SETTER', 'DOG ENGLISH SHEPARD', 'DOG ENG. MASTIFF',
       'DOG BLACK LAB', 'DOG SCOTTISH TER.', 'DOG LAKELAND TER.',
       'DOG COON HOUND', 'DOG CHOCOLATE LAB.', 'DOG BOX TERRIER',
       'DOG CATTLE DOG', 'DOG SPITZ', 'DOG TOY POODLE',
       'DOG FRENCH BULLDOG', 'DOG BRIARD', 'DOG ST BERNARD', 'CAT OTHER',
       'DOG GOLDEN LAB', 'DOG TOY FOX TERRIER', 'DOG RED HEELER',
       'DOG WEINER DOG', 'DOG MALAMUTE', 'DOG IRISH SPANIEL',
       'DOG BESINJI', 'DOG BEARDED COLLIE', 'DOG STAN POODLE',
       'CAT BEAGLE', 'DOG AMER FOX HOUND', 'DOG IRISH WOLFHOUND'],
      dtype=object)

*Câu 3*

a) Trong DataFrame `species`, giống chó nào là phổ biến nhất?

b) Trong những con chó có màu đen, giống chó nào là phổ biến nhất?

In [ ]:
species.BreedIDDesc.value_counts().head(1)

PIT BULL    1101
Name: BreedIDDesc, dtype: int64

In [ ]:
species.BreedIDDesc[species.color == 'BLK'].value_counts().head(1)

LABRADOR RETRIV    13
Name: BreedIDDesc, dtype: int64

*Câu 4*

a) Trở lại với DataFrame `bites`, trong năm 2015 có bao nhiêu vụ cắn người đã được ghi nhận?

b) Trong số các vụ cắn này, in thông tin những vụ __không__ được xác nhận là gây ra bởi chó hoặc mèo.

In [ ]:
len(bites[(bites['bite_date'] >= '2015') & (bites['bite_date'] < '2016')])

985

In [ ]:
q = bites[(bites['bite_date'] >= '2015') & (bites['bite_date'] < '2016')]
q[(q['SpeciesIDDesc'] != 'DOG') & (q['SpeciesIDDesc'] != 'CAT')]

      bite_date SpeciesIDDesc BreedIDDesc  ... release_date ResultsIDDesc  species
1413 2015-01-30           BAT         NaN  ...          NaT      NEGATIVE      NaN
1418 2015-05-05           BAT         NaN  ...          NaT      POSITIVE      NaN
1435 2015-07-04           BAT         NaN  ...          NaT      NEGATIVE      NaN
1442 2015-08-17           BAT         NaN  ...          NaT      NEGATIVE      NaN
1445 2015-11-03           BAT         NaN  ...          NaT      NEGATIVE      NaN
1447 2015-12-11           BAT         NaN  ...          NaT      NEGATIVE      NaN
6207 2015-01-10           NaN         NaN  ...          NaT           NaN      NaN
6213 2015-01-01        FERRET         NaN  ...          NaT           NaN      NaN
6226 2015-01-18           BAT         NaN  ...          NaT           NaN      NaN
6368 2015-03-20           NaN         NaN  ...          NaT           NaN      NaN
6465 2015-04-22           NaN         NaN  ...          NaT           NaN      NaN
6471 2015-04-24           NaN         NaN  ...   2015-05-07           NaN      NaN
6716 2015-07-01           NaN         NaN  ...          NaT           NaN      NaN
6848 2015-08-16           BAT         NaN  ...          NaT           NaN      NaN
6927 2015-09-17         HORSE         NaN  ...          NaT           NaN      NaN
6928 2015-09-17           NaN         NaN  ...          NaT           NaN      NaN
7028 2015-10-25       RACCOON         NaN  ...          NaT      NEGATIVE      NaN
7048 2015-11-04       RACCOON         NaN  ...          NaT           NaN      NaN
7071 2015-11-14           NaN         NaN  ...          NaT           NaN      NaN

[19 rows x 16 columns]

*Câu 5*

a) Liệt kê các vị trí cắn trong data, không tính giá trị NaN và UNKNOWN.

b) Loài vật nào __không__ được ghi nhận đã cắn vào đầu nạn nhân?

Gợi ý:

Cách 1: Dùng `~` để đảo giá trị True False và hàm `isin()`.

Cách 2: Dùng `set`. Set trong Python có thể trừ nhau để lọc các giá trị khác biệt.

In [ ]:
k = bites[~bites['WhereBittenIDDesc'].isnull()]
lst = []
for i in k.WhereBittenIDDesc.unique():
  if i != 'UNKNOWN':
    lst.append(i)
print('các vị trí cắn:',lst)

các vị trí cắn: ['BODY', 'HEAD']

In [ ]:
set(bites['SpeciesIDDesc'][bites.WhereBittenIDDesc != 'HEAD'])

{'BAT',
 'CAT',
 'DOG',
 'FERRET',
 'HORSE',
 'OTHER',
 'RABBIT',
 'RACCOON',
 'SKUNK',
 nan}

*Câu 6*

a) Trong dữ liệu, có bao nhiêu con vật âm tính với bệnh dại (NEGATIVE) đã bị giết (KILLED) hoặc chết (DIED)? Gợi ý: Sử dụng `&` và `|`.

b) Trong khoảng thời gian từ 2010 đến 2015 chó chiếm bao nhiêu phần trăm số vụ cắn người trong dữ liệu?

In [ ]:
len(bites[(bites['ResultsIDDesc'] == 'NEGATIVE') & (bites['DispositionIDDesc'] == 'KILLED') | (bites['DispositionIDDesc'] == 'DIED')])

17

In [ ]:
print(round((len(bites[(bites.bite_date >= '2010') & (bites['bite_date'] < '2011') & (bites['SpeciesIDDesc'] == 'DOG')]) / len(bites)) * 100,2),'%')

9.91 %

*Câu 7*

a) Tính số năm tiêm ngừa trung bình của các con vật (không tính các dòng có giá trị `NaN` tại cột này).

b) Trong năm 2017 có bao nhiêu vụ tấn công trong đó con vật tấn công là chó `BOXER`?

In [ ]:
v = bites[~bites['vaccination_yrs'].isnull()]
round(v['vaccination_yrs'].mean(),2)

1.45

In [ ]:
len(bites[(bites['BreedIDDesc'] == 'BOXER') & (bites['bite_date'] >= '2017') & (bites['bite_date'] < '2018')])

33

*Câu 8*

Trong các năm từ 2010 đến 2016, __giống__ nào của __loài__ nào đã gây ra nhiều vụ cắn nhất? Không tính các dòng có giá trị `NaN` hoặc `UNKNOWN` tại 2 cột này. Gợi ý: Nên chia thành nhiều bước.

In [ ]:
n = bites.BreedIDDesc[(bites['bite_date'] >= '2010') & (bites['bite_date'] < '2017')].value_counts()
n.head(1)

PIT BULL    915
Name: BreedIDDesc, dtype: int64

*Câu 9*

a) Có bao nhiêu con vật đã được ghi nhận ngày được đưa đến phòng nghiên cứu?

b) Trong số các con vật này thì chó chiếm bao nhiêu phần trăm?

In [ ]:
len(bites[~bites['head_sent_date'].isnull()])

395

In [ ]:
b = bites[~bites['vaccination_yrs'].isnull()]
print(round((len(b[b['SpeciesIDDesc'] == 'DOG']) / len(b)) * 100,2),"%")

85.93 %

*Câu 10*

a) Có bao nhiêu con chó đã được ghi nhận ngày thả?

b) Trong số đó có bao nhiêu con được ghi nhận đã chích ngừa ít nhất 1 năm?

In [ ]:
r = bites[~bites['release_date'].isnull()]
len(r[r['SpeciesIDDesc'] == 'DOG'])

1249

In [ ]:
len(r[(r['SpeciesIDDesc'] == 'DOG') & (r['vaccination_yrs'] >= 1)])

943